<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aegis_description)/urdf/modules/ur_definition.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/adapter_to_sensor.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/ft_schunk_axia80.xacro"/>
  <xacro:include filename="$(find aegis_description)/urdf/modules/adapter_from_sensor.xacro"/>
  <xacro:include filename="$(find robotiq_hande_description)/urdf/robotiq_hande_gripper.xacro"/>

  <xacro:macro name="aegis_robot" params="parent prefix kinematics_calibration mock_hardware">
    <xacro:ur_definition name="aegis" parent="${parent}" prefix="${prefix}" kinematics_calibration="${kinematics_calibration}" fake_hardware="${mock_hardware}"/>
    <xacro:adapter_to_sensor parent="tool0" prefix="${prefix}"/>
    <xacro:ft_sensor_schunk_axia80 parent="adapter_to_sensor_end" prefix="${prefix}"/>
    <xacro:adapter_from_sensor parent="tool_mount_link" prefix="${prefix}"/>
    <xacro:robotiq_hande_gripper parent="adapter_from_sensor_end" prefix="${prefix}"/>
  </xacro:macro>
</robot>
