<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="aegis">
  <xacro:arg name="name" default="aegis"/>

  <xacro:include filename="$(find aegis_description)/urdf/aegis.xacro"/>

  <link name="ur_base"/>
  <xacro:aegis_robot name="$(arg name)" parent="ur_base" prefix=""/>
</robot>
