<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="tool_camera_name" default="cam_tool_front"/>
  <xacro:arg name="tool_camera_model" default="OAK-D-SR-POE"/>
  <xacro:arg name="tool_camera_base_frame" default="cam_tool_frame"/>
  <xacro:arg name="tool_camera_rs_compat" default="false"/>

  <xacro:include filename="$(find depthai_descriptions)/urdf/include/depthai_macro.urdf.xacro"/>

  <xacro:macro name="camera_tool_luxonis" params="prefix parent">
    <xacro:depthai_camera
      camera_name="$(arg tool_camera_name)"
      parent="${parent}"
      camera_model="$(arg tool_camera_model)"
      base_frame="$(arg tool_camera_base_frame)"
      cam_pos_x="0.003"
      cam_pos_y="-0.019"
      cam_pos_z="-0.039"
      cam_roll="0"
      cam_pitch="${pi / 2}"
      cam_yaw="0"
      rs_compat="$(arg tool_camera_rs_compat)"
    />

    <xacro:property name="oak_mass" value="0.300"/>

    <joint name="${prefix}cam_tool_front_inertia_joint" type="fixed">
      <origin xyz="0.003 -0.019 -0.039" rpy="0 ${pi / 2} 0"/>
      <parent link="${parent}"/>
      <child link="${prefix}cam_tool_front_inertia"/>
    </joint>

    <link name="${prefix}cam_tool_front_inertia">
      <inertial>
        <origin xyz="0.00005 -0.00298 -0.01266" rpy="0 0 0"/>
        <mass value="${oak_mass}"/>
        <inertia ixx="1.140e-4" ixy="0.0" ixz="0.0" iyy="2.018e-4" iyz="0.0" izz="2.165e-4"/>
      </inertial>
    </link>
  </xacro:macro>
</robot>
