<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="cell" params="parent">
    <joint name="world_to_cell_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="cell"/>
    </joint>

    <link name="cell">
      <visual>
        <origin xyz="-0.460 -0.240 0.786" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://aegis_description/meshes/cell.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0.41" rpy="0 0 0"/>
        <geometry>
          <box size="0.88 0.648 0.82"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.48 0 0.97" rpy="0 0 0"/>
        <geometry>
          <box size="0.08 0.648 1.94"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.41 0 0.85" rpy="0 0 0"/>
        <geometry>
          <box size="0.06 0.648 0.06"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.48 0 0.97" rpy="0 0 0"/>
        <geometry>
          <box size="0.08 0.648 1.94"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="-0.41 0 0.85" rpy="0 0 0"/>
        <geometry>
          <box size="0.06 0.648 0.06"/>
        </geometry>
      </collision>
      <collision>
        <origin xyz="0 0.02 1.98" rpy="0 0 0"/>
        <geometry>
          <box size="1.04 0.688 0.08"/>
        </geometry>
      </collision>
    </link>

    <joint name="cell_to_ur_base" type="fixed">
      <origin xyz="0 0 0.806" rpy="0 0 ${0.5 * pi}"/>
      <parent link="cell"/>
      <child link="ur_base"/>
    </joint>

    <link name="ur_base"/>
  </xacro:macro>
</robot>
