<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- <xacro:include filename="$(find aegis_description)/urdf/cylinders_inertial.xacro"/> -->

  <xacro:macro name="computar_lens" params="prefix parent side">
    <xacro:property name="lens_mass" value="0.063"/>
    <xacro:property name="lens_radius" value="0.01660"/>
    <xacro:property name="lens_height" value="0.02890"/>

    <joint name="computar_lens_joint_${side}" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${prefix}computar_lens_${side}"/>
    </joint>

    <link name="${prefix}computar_lens_${side}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
        <geometry>
          <cylinder radius="${lens_radius}" length="${lens_height}"/>
        </geometry>
        <material name="black">
          <color rgba="0.04 0.04 0.04 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
        <geometry>
          <cylinder radius="${lens_radius}" length="${lens_height}"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
