<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="lens_computar" params="prefix parent side">
    <xacro:property name="lens_mass" value="0.063"/>
    <xacro:property name="lens_radius" value="0.01660"/>
    <xacro:property name="lens_height" value="0.02890"/>
    <xacro:property name="lens_offset" value="-0.0145"/>

    <joint name="lens_${side}_joint" type="fixed">
      <origin xyz="0 0 ${lens_offset}" rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="${prefix}lens_${side}"/>
    </joint>

    <link name="${prefix}lens_${side}">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
        <geometry>
          <cylinder radius="${lens_radius}" length="${lens_height}"/>
        </geometry>
        <material name="black">
          <color rgba="0.04 0.04 0.04 1"/>
        </material>
      </visual>
      <inertial>
        <mass value="${lens_mass}"/>
        <origin xyz="0 0 0" rpy="0 0 ${pi}"/>
        <inertia
          ixx="${(lens_mass/12.0) * (3*lens_radius*lens_radius + lens_height*lens_height)}"
          ixy="0.0"
          ixz="0.0"
          iyy="${(lens_mass/2.0) * (lens_radius*lens_radius)}"
          iyz="0.0"
          izz="${(lens_mass/12.0) * (3*lens_radius*lens_radius + lens_height*lens_height)}"
        />
      </inertial>
    </link>
  </xacro:macro>
</robot>
