<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="oakd_pro_camera" params="parent">
    <joint name="cell_to_camera" type="fixed">
      <origin xyz="-0.055 0.360 2.006" rpy="${pi} 0 0"/>
      <parent link="${parent}"/>
      <child link="oakd_pro_camera"/>
    </joint>

    <link name="oakd_pro_camera">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://aegis_description/meshes/oakd_pro_camera.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://aegis_description/meshes/oakd_pro_camera.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
