<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="oakd_pro_camera" params="parent">
    <joint name="cell_to_camera" type="fixed">
      <origin xyz="0.014 0.33 1.972" rpy="${pi / 2} ${pi / 2} 0"/>
      <parent link="${parent}"/>
      <child link="oakd_pro_camera"/>
    </joint>

    <link name="oakd_pro_camera">
      <visual>
        <origin xyz="-0.031 -0.0555 -0.03" rpy="${pi / 2} 0 ${pi / 2}"/>
        <geometry>
          <mesh filename="package://aegis_description/meshes/oakd_pro_camera.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="-0.031 -0.0555 -0.03" rpy="${pi / 2} 0 ${pi / 2}"/>
        <geometry>
          <mesh filename="package://aegis_description/meshes/oakd_pro_camera.dae" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
